.about-elephant {
	position: relative;
	.page-title {
	}
	.button {
		position: absolute;
		right: 60%;
		top: 86%;
		margin-top: 196px;
		@include max1250 {
			position: static;
			margin-top: 50px;
		}
	}
}
.about-elephant__picture {
	position: relative;
	img {
		width: 100%;
		padding-top: 60px;
	}
}
.about-elephant__content-wrapper {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-right: 5%;
	min-height: 400px;
	padding: 65px;
	background-color: $white;
	box-shadow: 0px 37px 51px 0px rgba(119, 119, 99, 0.21);
	@include max1250 {
		position: static;
		padding: 50px;
		width: 90%;
		margin-top: 20px;
		margin: 0 auto;
		box-shadow: 0px 12px 51px 0px rgba(119, 119, 99, 0.21);
	}
	@include min1920 {
		top: 55%;
		left: 44%;
		margin-right: 25%;
	}
}

.about-elephant__description {
	margin: 0;
	margin-bottom: 48px;
	font-family:  "Arial", sans-serif;
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	&:last-child {
		margin-bottom: 0;
	}
}
.text-link {
}

.button--border-green {
}


