.blog {
	margin-top: 68px;
	margin-bottom: 90px;
	.container {
		max-width: 1238px;
		@include max1250 {
			padding: 0;
		}
	}
	.page-title {
	}
}
.blog__list {
	padding-top: 55px;
	@include list-reset(0px);
	display: flex;
	justify-content: space-between;
	margin-bottom: 57px;

	@include min320-max768 {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	@include max1250 {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
}
.blog__item {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
	@include max1250 {
		width: 45%;
		margin-bottom: 50px;
		&:nth-child(2) {
			margin-right: 0;
		}
	}
	@include min1250 {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 0;
	}
		@include min320-max768 {
		width: 80%;
		margin-right: 0;
	}
}
.blog__item-title {
	margin-bottom: 10px;
	font-size: 22px;
	line-height: auto;
	font-weight: 400;
}
.blog__item-intro {
	margin-bottom: 5px;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
}
.blog__item-image {
// height: 221px;
order: -1;
margin-bottom: 20px;
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
}
