.inner {
	@include max1024 {
		height: 600px;
	}
	@include max768 {
		height: 500px;
	}
	@include min1920 {
		height: 750px;
	}
	position: relative;
	height: 740px;
	background-image: url("../img/header-bg@1x-mobile.png"),
	url("../img/inner-bg@1x-tablet.jpg");
	background-position: center bottom, center bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: contain, cover;
	@include retina {
		background-image: url("../img/header-bg@2x-mobile.png"),
		url("../img/inner-bg@2x-tablet.jpg");
	}
	@include min320 {
		background-image: url("../img/header-bg@1x-tablet.png"),
		url("../img/inner-bg@1x-tablet.jpg");
		@include retina {
			background-image: url("../img/header-bg@2x-tablet.png"),
			url("../img/inner-bg@2x-tablet.jpg");
		}
	}
	@include min768-max1920 {
		background-image: url("../img/header-bg@1x-desktop.png"),
		url("../img/inner-bg@1x-desktop.jpg");
		@include retina {
			background-image: url("../img/header-bg@1x-desktop.png"),
			url("../img/inner-bg@2x-desktop.jpg");
		}
	}
	@include min1920 {
		background-image: url("../img/header-bg@1x-1920.png"),
		url("../img/inner-bg@1x-1920.jpg");
		@include retina {
			background-image: url("../img/header-bg@1x-1920.png"),
			url("../img/inner-bg@2x-1920.jpg");
		}
	}
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		justify-content: center;
		height: inherit;
		padding-bottom: 10%;
		padding-top: 10%;
		@include min1250-max1440{
			padding-top: 30%;
		}
		@include min1920 {
			padding-top: 16%;
			padding-bottom: 3%;
		}
	}
	.button {
		display: block;
		width: 270px;
		margin: 0 auto;
	}

}
.inner__title {
	padding: 0 10px;
	margin-bottom: 5%;
	font-size: 61px;
	line-height: 58px;
	text-align: center;
	color: $white;
	text-shadow: 0px 8px 32px rgba(21, 39, 38, 1);
	@include max1024 {
		font-size: 51px;
	}
	@include max768 {
		font-size: 41px;
		line-height: 48px;
	}
	@include max768 {
		font-size: 31px;
		line-height: 38px;
	}
}



