html {
	height: 100%;
}
.page {
}
.page-body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.page-header {
}
.page-main {
	flex-grow: 1;
}
.page-footer {
}