.services {
	.container {
	}
	.page-title {
	}
	.page-description {

		.br-desktop {
		}
	}
}
.services-gallery {
}
.services-gallery__list {
	@include list-reset(0px);
	display: flex;
	flex-wrap: wrap;
}
.services-gallery__item {
	width: 31.51%;
	height: 514px;
	&:nth-child(3n+2) {
		width: 36.97%;
	}
	position: relative;
	background-color: $green;
	&:hover {
		// background-color: rgba(136, 231, 165, .78);
		.services-gallery__description {
			display: block;
		}
		.services-gallery__photo {
			opacity: .28;
		}
	}
}
.services-gallery__wrapper {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.services-gallery__title {
	position: absolute;

}
.services-gallery__description {
	display: none;
	position: absolute;
}
.services-gallery__photo {
	z-index: -100;
}
.button {
}
.button--border-green {
}
