.container {
 box-sizing: border-box;
 margin: 0 auto;
 max-width: 1238px;
//  min-width: @mobile-width;
//  max-width: @desktop-width;
padding-left: 20px;
padding-right: 20px;

//  @media @desktop {
//    padding-left: 10px;
//    padding-right: 10px;
//  }
}