html {
	box-sizing: border-box;
}
*, *:after, *:before {
	box-sizing: inherit;
}
img {
	max-width: 100%;
	height: auto;
}
html {
	margin: 0;
	// min-width: $mobile-width;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	// color: $font-color-base;
	// background-color: $bg-color-body;
}
body {
	margin: 0;
}
.container--1440 {
	max-width: 1440px;
	margin: 0 auto;
	@include max1024 {
		max-width: 100%;
	}
}
.page-title {
	position: relative;
	max-width: 468px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 85px;
	font-family: "Circe", "Arial", sans-serif;
	font-size: 36px;
	line-height: 37px;
	font-weight: 400;
	text-align: center;
	&::after {
		position: absolute;
		content: "";
		top: 60px;
		left: 50%;
		margin-left: -72px;
		width: 144px;
		height: 3px;
		background-color: $green;
	}
}
.page-description {
	margin-bottom: 70px;
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	text-align: center;
	a {
		color: $green;
	}
}
.button {
	padding: 10px 10px;
	display: block;
	width: 371px;
	margin: 0 auto;
	font-family: 'Circe', "Arial", sans-serif;
	font-size: 26px;
	line-height: 37.5px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	color: $white;
	background-color: transparent;
	&:hover {
		box-shadow: 0px 0px 10px rgba(21, 39, 38, .4);
	}
}
.button--border-white {
	border: 6px solid $white;
	&:hover {
		font-weight: 800;
		border: 6px solid $green;
		background-color: rgba(255, 255, 255, .9);
		color: $green;
	}
}
.button--border-green {
		border: 6px solid $green;
		color: $green;
	&:hover {
		font-weight: 800;
		background-color: rgba(255, 255, 255, .9);
	}
}
.button--fcolor-white {}
.button--color-green {}