html {
	box-sizing: border-box;
}
*, *:after, *:before {
	box-sizing: inherit;
}
img {
	max-width: 100%;
	height: auto;
}
html {
	margin: 0;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $font-color-base;
}
body {
	margin: 0;
}
.container--1440 {
	max-width: 1440px;
	margin: 0 auto;
	@include max1024 {
		max-width: 100%;
	}
}
h1, h2, h3, h4, h5, b, p {
	margin: 0;
}
.bg--light-green {
	background-color: $light-green;
}
.page-title {
	position: relative;
	max-width: 468px;
	margin: 0 auto;
	// margin-top: 80px;
	margin-top: 10px;
	margin-bottom: 53px;
	font-family: "Circe", "Arial", sans-serif;
	font-size: 36px;
	line-height: 37px;
	font-weight: 400;
	text-align: center;
	&::after {
		position: absolute;
		content: "";
		top: 70px;
		left: 50%;
		margin-left: -72px;
		width: 144px;
		height: 3px;
		background-color: $green;
	}
}
.page-description {
	margin-bottom: 70px;
	font-size: 20px;
	line-height: 32px;
	font-weight: 400;
	text-align: center;
	padding: 20px;
}
.link--green {
	color: $green;
}
.button {
	padding: 10px 10px;
	display: block;
	width: $button-width;
	margin: 0 auto;
	font-family: 'Circe', "Arial", sans-serif;
	font-size: 26px;
	line-height: 37.5px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	color: $white;
	border:none;
	outline: none;
	background-color: transparent;
	@include min320-max768 {
		max-width: 90%;
		font-size: 22px;
	}
	&:hover {
		// box-shadow: 0px 0px 10px rgba(21, 39, 38, .4);
	}
}
.button--border-white {
	border: 6px solid $white;
	&:hover {
		font-weight: 800;
		border: 6px solid $green;
		background-color: rgba(255, 255, 255, .9);
		color: $green;
	}
}
.button--border-green {
	border: 6px solid $green;
	color: $green;
	&:hover {
		font-weight: 800;
		background-color: rgba(255, 255, 255, .9);
	}
}
.button--color-green {
	color: $white;
	border: 6px solid $green;
	background-color: $green;
	&:hover {
		font-weight: 800;
		color: $green;
		box-shadow: none;
		border: 6px solid $green;
		background-color: $white;
	}
}