$retina-dpi: 144dpi;

$font-family-base: "Circe", "Arial", sans-serif;
$font-size-base: 14px;
$line-height-base: 24px;
$font-color-base: #362c2d;

$black: #000000;
$white: #ffffff;

$green: #88e7a5;
$light-green: #DEE7E1;
$dark-green: #5b675e;
$darkest-green: #362c2d;

$button-width: 371px;

